.azure/
.bash_logout
.bashrc
.cache/
.kube/
.profile
.ssh/
.viminfo
.bash_history
.gitconfig
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.d/
.wget-hsts
mysecret.yaml
